.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.form-wrapper{
    box-shadow: var(--shadow-lg);
    padding: var(--space-12);
    border-radius: var(--radius-xl);
}
.checkbox-section{
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
button{
    margin-left: auto;
    margin-right: auto;
}