.checkbox-section {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
  color: var(--color-error-main);
  padding: var(--space-8);
}
