@use '../../styles/tokens/interactions' as tokens;

.table-wrapper {
  overflow-x: auto;
}

.mat-header-cell {
  align-items: center;
  min-width: 170px;
}

.mouseIndicator {
  @include tokens.interactive;
}
