<ng-container *ngIf="tecnicos$ | async as dataSource; else loading">
  <app-page-header
    title="Lista de técnicos"
    actionLabel="Novo técnico"
    actionIcon="add"
    actionRoute="new">
  </app-page-header>

  <div class="page-content">
    <div *ngIf="dataSource.length === 0; else tableBlock" class="data-table-container">
      <app-empty-state
        icon="engineering"
        title="Nenhum técnico encontrado"
        description="Cadastre um novo técnico para começar"
        actionLabel="Novo técnico"
        actionRoute="new">
      </app-empty-state>
    </div>
    <ng-template #tableBlock>
    <div class="data-table-container">
      <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" [trackBy]="trackById">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let tecnico">{{ tecnico.id }}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let tecnico">{{ tecnico.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let tecnico">{{ tecnico.email }}</td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let tecnico">{{ tecnico.cpf }}</td>
      </ng-container>
      <ng-container matColumnDef="dataCriacao">
        <th mat-header-cell *matHeaderCellDef>Criado em</th>
        <td mat-cell *matCellDef="let tecnico">{{ tecnico.dataCriacao }}</td>
      </ng-container>
      <ng-container matColumnDef="detalhe">
        <th mat-header-cell *matHeaderCellDef>Detalhe</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button color="primary" (click)="openDialog(element)" matTooltip="Perfil usuario">
            <mat-icon>account_circle</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="chamados">
        <th mat-header-cell *matHeaderCellDef>Chamados</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button color="accent" (click)="openChamados(element.id)" matTooltip="Chamados em andamento">
            <mat-icon>assignment</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div class="actions-cell">
            <a mat-icon-button color="primary" routerLink="edit/{{ element.id }}" matTooltip="Editar tecnico">
              <mat-icon>edit</mat-icon>
            </a>
            <a mat-icon-button color="warn" (click)="onClickDelete(element, element.id)" matTooltip="Deletar tecnico">
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
      </div>
    </div>
    </ng-template>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader label="Carregando tecnicos..."></app-loader>
</ng-template>
